body {
    font-family: Arial, sans-serif;
}

h1 {
    color: forestgreen;
}

.checkbox-container {
    display: flex;
}

.checkbox-container > input {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}